{% load staticfiles %}
<html lang="en">
<head>
	<title>Housekeeping</title>
	<link rel="shortcut icon" type="image/png" href="{%static 'login//favicon.png'%}">
	<script type="text/javascript" src="{%static 'login/bootstrap/js/jquery-3.1.1.min.js'%}"></script>
	<link rel="stylesheet" type="text/css" href="{%static 'login/bootstrap/css/bootstrap.min.css'%}" media="all" />
	<link rel="stylesheet" type="text/css" href="{%static 'login/bootstrap/css/mycss.css'%}" media="all" />
	<script type="text/javascript" src="{%static 'login/bootstrap/js/bootstrap.min.js'%}"></script>
	<!-- Bootstrap Date-Picker Plugin -->
  	<link rel="stylesheet" href="{%static 'login/bootstrap/css/datepicker.css'%}">
	<script src="{%static 'login/bootstrap/js/datepicker.js'%}"></script>
	<!-- -->
	<style type="text/css">
		div {
		    border: 0px solid #000000;
		}
	</style>
</head>
<body>
{% block body %}
{% endblock %}

</body>
</html>
