{% extends 'login/base.html' %}
{% block body %}


<body >
<!-- Navigation -->
    {% include 'login/nav.html' %}
    <div class="card-header voffset8"><h2>My Complaints</h2></div>
    <hr>
        <div class="card-block p-0" style="background-color: #eee;padding:15px">
            <table class="table table-bordered table-sm m-0">
                <thead class="">
                    <tr>
                        <th>id</th>
                        <th>Status</th>
                        <th>Subject</th>
                        <th>Lodge Date</th>
                        <th>Tenative Addressing Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
{%for a in list%}
                <tr>
                    <td>{{a.id}}</td>
                    <td>{{a.status}}</td>
                    <td>{{a.subject}}</td>
                    <td>{{a.lodge_date}}</td>
                    <td>{{a.addressing_date}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-ok"></span> Select</button>
                    </td>
                </tr>
{%endfor%}
                </ul>
            </tbody>
            </table>
        </div>
    <hr>
</body>
{%endblock%}