{% extends 'login/base.html' %}
{% block body %}

<body>

    <!-- Navigation -->
    {% include 'login/nav.html' %}
    <!-- Page Content -->
    <div class="container">

        <!-- Portfolio Item Heading -->
        <div class="row voffset5">
            <div class="col-lg-12">
                <h1 class="page-header">Welcome <small>{{username}}</small></h1>
            </div>
        </div>
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="http://placehold.it/750x500" alt="">
            </div>

            <div class="col-md-4">
                <div class="row">
                    <h3>Website Description</h3>
                    <p>In modern Web applications, the arbitrary logic often involves interacting with a database. Behind the scenes,
                    a database-driven Web site connects to a database server, retrieves some data out of it, and displays that data
                    on a Web page. The site might also provide ways for site visitors to populate the database on their own.</p>
                </div>
                <div class="row">
                    <h3>Main Functionalities</h3>
                    <ul>
                        <li>Lodge Complaint</li>
                        <li>Check Status</li>
                        <li>Give Feedback</li>
                        <li>Reopen Complaint</li>
                    </ul>
                </div>
            </div>

        </div>
        <hr>
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Singla&Shukla 2017</p>
                </div>
            </div>
        </footer>

    </div>

</body>
{% endblock %}
