{% extends 'login/base.html' %}

{% block body %}
<!-- Navigation -->
    {% include 'login/nav_staff.html' %}
<div class="container voffset6">
    <h2>Generate To Do List</h2>
    <hr>
    <div class="row"style="background-color: #eee;padding-top:15px">
<div class="container-fluid" >
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Please enter the date</h3>
                    <div class="row voffset4">
                        {% if error_message %}
                            <p><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <span class="text-danger small">{{ form.addressing_date.errors }}</span>
                                    </div>
                                    <label class="col-sm-3 control-label">
                                        {{form.addressing_date.label_tag}}</label>
                                    <input  placeholder="YYYY-MM-DD" name='addressing_date' id='date'>
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<hr>
</div>

<script>

    $( "#date" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
    $( "#date" ).datepicker( );

</script>
{% endblock %}